.search-block-form {
  position: relative; }
  .search-block-form .form-submit {
    top: 0;
    right: 0;
    position: absolute; }

@media (max-width: 767px) {
  .search-block-form {
    margin-bottom: 0.5rem; } }

/*# sourceMappingURL=search.css.map */
