{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{% if attributes.id == 'search-block-form' %}
  {{ attach_library('bs_5_corporate/component.search.styling') }}
{% endif %}

{%
  set classes = [
    attributes.id,
  ]
%}

<form{{ attributes.addClass(classes) }}>
  {{ children }}
</form>
