{#
/**
 * @file
 * Theme override to display a header in page.
 *
 * Regions:
 * - page.header_first: Header First.
 * - page.header_second: Header Second.
 * - page.header_third: Header Third.
 * - page.header_logo: Header Logo.
 * - page.header_menu: Header Menu.
 * - page.headline: Headline.
 */
#}
{% import '@bs_5_corporate/custom/macros/header.twig' as headerMacro %}
{{ attach_library('bs_5_corporate/component.header.styling') }}

<header>
  <section class="container header-top-wrapper">
    <div class="row my-3">
      {% if bs_5_corporate.facebook_accnt or bs_5_corporate.linkedin_accnt or bs_5_corporate.twitter_accnt %}
        <div class="col-md-4 col-sm-12 social-wrapper">
          <a class="align-middle" href="{{ bs_5_corporate.facebook_accnt }}" target="_blank"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ bs_5_corporate.facebook_accnt_title }}"
            data-bs-original-title="{{ bs_5_corporate.facebook_accnt_title }}">
            <i class="bi bi-meta"></i>
          </a>
          <a class="align-middle" href="{{ bs_5_corporate.linkedin_accnt }}" target="_blank"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ bs_5_corporate.linkedin_accnt_title }}"
            data-bs-original-title="{{ bs_5_corporate.linkedin_accnt_title }}">
            <i class="bi bi-linkedin"></i>
          </a>
          <a class="align-middle" href="{{ bs_5_corporate.twitter_accnt }}" target="_blank"
            data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ bs_5_corporate.twitter_accnt_title }}"
            data-bs-original-title="{{ bs_5_corporate.twitter_accnt_title }}">
            <i class="bi bi-twitter"></i>
          </a>
        </div>
      {% else %}
        {{ headerMacro.header(page.header_first, 'col-md-4 col-sm-12 header-first-wrapper', ) }}
      {% endif %}
      {{ headerMacro.header(page.header_second, 'col-md-4 col-sm-12 header-second-wrapper') }}
      {{ headerMacro.header(page.header_third, 'col-md-4 col-sm-12 header-third-wrapper') }}
    </div>
  </section>

  <section class="header-middle-wrapper">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
      <div class="container">
        {{ page.header_logo }}
        <div class="collapse navbar-collapse" id="mynavbar">
          {{ page.header_menu }}
        </div>
      </div>
    </nav>
  </section>

  <section class="container header-bottom-wrapper text-center">
    <div class="row py-2">
      {{ page.headline }}
    </div>
  </section>
</header>
