{#
/**
 * @file
 * Theme macro for card in page.
 */
#}
{% macro card(data, view_mode) %}
  {% if view_mode != 'bs_5_corporate_article_recent_content' %}
    <div{{ view_mode != 'bs_5_corporate_article_front' ? data.attributes.addClass(['card-body', 'd-flex', 'flex-column']) : '' }}>
  {% endif %}

    {% if view_mode == 'bs_5_corporate_article_highlights' %}
      {{ data.title_prefix }}
      {% if data.title %}
        <h4{{ card_title.attributes.addClass(['card-title']) }}>{{ data.title }}</h4>
      {% endif %}
      {{ data.title_suffix }}

      {% if data.content.body %}
        {{ data.content.body }}
      {% endif %}

      <a href="{{ data.content_url }}" target="_blank" class="card-link mt-auto align-self-start">{{ 'References'|t }}</a>

    {% elseif view_mode == 'bs_5_corporate_article_newsletter' %}
      {% if data.content.field_image %}
        <img alt="{{data.content.field_image.alt}}" src="{{ data.content.field_image|render|striptags|trim }}" class="card-img-top" />
      {% endif %}

      {{ data.title_prefix }}
      {% if data.title %}
        <h4{{ card_title.attributes.addClass(['card-title']) }}>{{ data.title }}</h4>
      {% endif %}
      {{ data.title_suffix }}

      {% if data.content.body %}
        {{ data.content.body }}
      {% endif %}

      <a href="{{ data.content_url }}" class="btn btn-primary card-link mt-auto align-self-start">{{ 'Read more'|t }}</a>
    {% elseif view_mode == 'bs_5_corporate_article_recent_content' %}
      <a class="nav-link" href="{{ data.content_url }}">{{ data.title }}</a>
    {% elseif view_mode == 'bs_5_corporate_article_front' %}
      <h2>{{ data.title }}</h2>
      {% if data.content %}
        {{ data.content }}
      {% endif %}
    {% else %}
      {{ data.title_prefix }}
      {% if data.title %}
        <h4{{ card_title.attributes.addClass(['card-title']) }}>{{ data.title }}</h4>
      {% endif %}
      {{ data.title_suffix }}
    {% endif %}

  {% if view_mode != 'bs_5_corporate_article_recent_content' %}
    </div>
  {% endif %}
{% endmacro %}
