{#
/**
 * @file
 * Theme macro for container in page.
 */
#}
{% macro container(region, class, row_class = '') %}
  <section class="container {{ class }}">
    <div class="row {{ row_class }}">
      {{ region }}
    </div>
  </section>
{% endmacro %}
