{#
/**
 * @file
 * Theme override to display a footer in page.
 *
 * Regions:
 * - page.footer_first: Footer First.
 * - page.footer_second: Footer Second.
 * - page.footer_third: Footer Third.
 * - page.footer_fourth: Footer Fourth.
 * Variables:
 * - bs_5_corporate: Custom theme variable.
 */
#}
{% set valid_footer = ['1', '2', '3', '4'] %}
{% import '@bs_5_corporate/custom/macros/footer.twig' as footerMacro %}
{{ attach_library('bs_5_corporate/component.footer.styling') }}

<footer class="container-fluid footer-wrapper">
  {% if type_footer_disable != true %}
    <section class="row bg-primary text-white pt-2">
      {% if bs_5_corporate.type_footer_visibility in valid_footer %}
        {{ footerMacro.footer(page.footer_first, "col-lg-#{bs_5_corporate.type_footer} col-sm-12 footer-first") }}
        {% if bs_5_corporate.type_footer_visibility != '1' %}
          {{ footerMacro.footer(page.footer_second, "col-lg-#{bs_5_corporate.type_footer} col-sm-12 footer-second") }}
          {% if bs_5_corporate.type_footer_visibility != '2' %}
            {{ footerMacro.footer(page.footer_third, "col-lg-#{bs_5_corporate.type_footer} col-sm-12 footer-third") }}
            {% if bs_5_corporate.type_footer_visibility != '3' %}
              {{ footerMacro.footer(page.footer_fourth, "col-lg-#{bs_5_corporate.type_footer} col-sm-12 footer-fourth") }}
            {% endif %}
          {% endif %}
        {% endif %}
      {% endif %}
    </section>
  {% endif %}

  <section class="copyright text-center p-2">
    {{ page.footer_copyright }}
  </section>
</footer>
