{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *   - is_active: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#{{ menu_name }}">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="{{ menu_name }}">
  {{ menus.menu_links(items, attributes, 0) }}
</div>

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}
      <ul{{ attributes.addClass(['navbar-nav', 'ms-auto']) }}>
    {% else %}
      <ul class='dropdown-menu'>
    {% endif %}
    {% for item in items %}
      {% if item.below %}
        <li{{ item.attributes.addClass(['nav-item', 'dropdown', item.active_trail ? 'active']) }}>
          {{
            link(item.title, item.url, {
              'role': 'button',
              'class': ['nav-link', 'dropdown-toggle', item.is_active ? 'active'],
              'data-bs-toggle': 'dropdown',
            })
          }}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        </li>
      {% else %}
        {% if menu_level > 0 %}
          <li>
            {{ link(item.title, item.url, { 'class': ['dropdown-item', item.is_active ? 'active'] }) }}
          </li>
        {% else %}
          <li{{ item.attributes.addClass(['nav-item', item.active_trail ? 'active']) }}>
            {{ link(item.title, item.url, { 'class': ['nav-link', 'dropdown-item', item.is_active ? 'active'] }) }}
          </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
