/**
 * .col- (extra small devices - screen width less than 576px)
 * .col-sm- (small devices - screen width equal to or greater than 576px)
 * .col-md- (medium devices - screen width equal to or greater than 768px)
 * .col-lg- (large devices - screen width equal to or greater than 992px)
 * .col-xl- (xlarge devices - screen width equal to or greater than 1200px)
 * .col-xxl- (xxlarge devices - screen width equal to or greater than 1400px)
 **/

.section-title {
  font-size: 2rem;
  text-align: center;
}
