.footer-before-wrapper .row {
  margin-bottom: 2rem;
}

@media (max-width: 1199px) {
  .footer-before-wrapper .row div {
    margin-bottom: 1rem;
  }
}

.footer-wrapper .nav-link {
  padding-left: 0;
  padding-right: 0;
  display: inline-block;
  color: rgba(var(--bs-white-rgb),var(--bs-text-opacity));
}

.footer-wrapper a:hover {
  text-decoration: underline;
}

.copyright p {
  margin-bottom: 0;
}
