/**
 * Variables level.
 **/
 :root {
  --custom-width-5: 5rem;
  --custom-font-1-5: 1.5rem;
}

/**
 * Component level override.
 **/
.header-middle-wrapper .navbar-brand {
  max-width: var(--custom-width-5);
}

.header-first-wrapper a {
  text-decoration: none;
  font-size: var(--custom-font-1-5);
}

@media (max-width: 767px) {
  .header-first-wrapper {
    text-align: center;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 767px) {
  .header-third-wrapper .dropdown {
    text-align: center;
    /* Need override default class. */
    float: inherit !important;
  }
}
