.search-block-form {
  position: relative;

  .form-submit {
    top: 0;
    right: 0;
    position: absolute;
  }
}

@media (max-width: 767px) {
  .search-block-form {
    margin-bottom: 0.5rem;
  }
}
