{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header_first: Header First.
 * - page.header_second: Header Second.
 * - page.header_third: Header Third.
 * - page.header_logo: Header Logo.
 * - page.header_menu: Header Menu.
 * - page.headline: Headline.
 * - page.sidebar_left: Sidebar Left.
 * - page.content: Content.
 * - page.content_after: Content After.
 * - page.footer_before: Footer Before.
 * - page.footer_first: Footer First.
 * - page.footer_second: Footer Second.
 * - page.footer_third: Footer Third.
 * - page.footer_fourth: Footer Fourth.
 * - page.footer_copyright: Footer Copyright.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% set content_wrapper_col = '12' %}
{% import '@bs_5_corporate/custom/macros/container.twig' as containerMacro %}
{% set header = '@bs_5_corporate/custom/includes/headers/header.html.twig' %}
{% set footer = '@bs_5_corporate/custom/includes/footers/footer.html.twig' %}

{% include header %}

<main class="container">
  <section class="row content-wrapper mb-3">
    <div class="col-md-{{ content_wrapper_col }} col-sm-{{ content_wrapper_col }}">
      {{ bs_5_corporate.content_401|raw }}
    </div>
  </section>
</main>

{% include footer %}
